.root {
  display: flex;
  align-items: center;
  text-align: left;
  border-radius: 10px;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  width: 100%;
  white-space: nowrap;
  background: rgb(113, 59, 217);
  color: white;
  font-weight: 500;

  img {
    width: 18px;
    height: 18px;
    margin-left: 14px;
  }
}
