.root {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
}

.tabHeader {
  padding: 0.75rem 1.5rem;
  background: white;
}

.tabLayout {
  padding: 0.75rem 1rem;
  background: rgb(244, 245, 250);
  max-width: 200px;
}

.canvas {
  margin: 1rem auto;
}

.canvas canvas {
  border-radius: 4px;
}
